@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #63cbb7;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.weather{
    display: grid;
    background-color: #37a49e;
    margin: 90px auto;
    width: 50%;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(32,178,170);
}

input{
    width: 20rem;
    height: 1.75rem;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #7b74ca;
}

.weather-item{
    margin: 5px;
}

.busca{
    grid-area: busca;
    display: grid;
    justify-content: center;
}

.info{
    grid-area: info;
    display: grid;
    justify-content: center;
    border-radius: 15px;
    font-weight: 500;
}

.info p{
    margin: auto;
    font-size: 70px;
}

.aside{
    grid-area: aside;
    display: grid;
    justify-content: center;
    font-weight: 500;
}

.aside ul{
    margin: auto;
    list-style: none;
    padding: 0;
}

.aside ul li{
    margin: 11px 0;
}

.aside i{
    margin-right: 10px;
}

.grid-template-areas-1{
    grid-template-areas: 
        "busca busca busca"
        "info info aside"
    ;
}

